In [ ]:
Variables are like containers used to store data values

In [8]:
x = 2
y = 3

In [9]:
z = x+y
print(z)

5

In [ ]:
Rules for declaring the variables :

In [ ]:
Rule no 1 :- No namespaces while declaring the variables

In [11]:
first name = 'Sarvadnya'
print(first name)

SyntaxError: invalid syntax (3557170542.py, line 1)

In [12]:
firstname = 'Sarvadnya'
print(firstname)

Sarvadnya

In [14]:
first_name = 'Sarvadnya'
print(first_name)

Sarvadnya

In [ ]:
Rule no 2 :- A variable name should not start with a number

In [15]:
1name = 'Sarvadnya'
print(1name)

SyntaxError: invalid decimal literal (1873958972.py, line 1)

In [16]:
name1 = 'Sarvadnya'
print(name1)

Sarvadnya

In [ ]:
Rule no 3 :- A variable name should not contain any special characters

     ! @ # $ % ^ & *

In [18]:
name$ = 'Sarvadnya'
print(name$)

SyntaxError: invalid syntax (3070405126.py, line 1)

In [ ]:
Introduction to datatypes :-

   1. Strings ====> str
   2. numbers ======>integers======> int
   3. FLoats(Decimals) =======> 0.1 , 0.2 =======> float
   4. Lists =======> list
   5. Tuples =======> tuple
   6. Dictornary =====> dict

In [ ]:
Classification of datatypes :- 
        Broadly datatypes are classified into two categories  :-
        1. Mutable Datatypes ==> this are flexible in nature ==> which we can edit and alter
        2. Immutable Datatypes ==> this are fixed in nature ==> which we cannot be able to edit and alter

In [ ]:
Introduction to string datatypes :-

Def :- A string is a series of characters declared in quotes
Classification  :- It is classsified as an immutable datatypes
how to declare the strings............?

    1. Single quotes
    2. Double quotes

In [24]:
firstname = 'Virat'
print(firstname)

Virat

In [25]:
name = 'Shahrukh'
print(name)

Shahrukh

In [ ]:
Introduction to string methods :-

In [26]:
type (firstname)

str

In [28]:
type (name)

str

In [ ]:
Note :- Python is a case sensitive language

In [ ]:
# is used to comment on a code

In [30]:
fullname = 'carl johnson'
print(fullname)

carl johnson

In [32]:
print(fullname.title())

Carl Johnson

In [ ]:
# Req 1 :- I want the entire name in capital letters

In [33]:
print(fullname.upper())

CARL JOHNSON

In [ ]:
#Req 2 :- I want the entire name in

In [34]:
print(fullname.lower())

carl johnson